<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Hot Player</title>
</head>
<body>
  <h1>🔥 Vídeos Recentes</h1>
  <% videos.forEach(video => { %>
    <div>
      <h2><%= video.title %></h2>
      <iframe src="<%= video.url %>" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    </div>
  <% }); %>
</body>
</html>
